fastapi
uvicorn[standard]

tensorflow==2.12.0
keras==2.12.0
protobuf==3.20.*
numpy
pandas
pillow
opencv-python-headless

python-multipart
python-dotenv

scikit-learn
h5py

gdown==5.2.0

google-generativeai
