absl-py
aiofiles
anyio
astunparse
certifi
charset-normalizer
click
colorama
cryptography
fastapi
h11
h5py
httpcore
httpx
idna
jax
jaxlib
joblib
keras
Keras-Preprocessing
numpy
opencv-python-headless
opt-einsum
pandas
pillow
python-dotenv
python-multipart
PyYAML
scikit-learn
scipy
tensorboard
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
typing-extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
Werkzeug

